<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pricemap</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta property="og:site_name" content="Pricemap">
    <meta property="og:title" content="Observatorio de precios">
    <meta property="og:image" content="../static/img/logo/pricemap_logo_v1.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description"
        content="Encuentra y compara el precio del mismo producto en diferentes puntos de venta.">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="manifest" href="site.webmanifest">

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/logo/favicon_pricemap.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <!--CREADO RECIENTEMENTE-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashstyle.css')}}">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{url_for('static', filename='js/dashscript.js')}}"></script>
</head>
<body>
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center" style="padding-top: 15px;">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="https://pricemap.neurometrics.la"><img src="../static/img/logo/pricemap_logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->

                            <!---->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">

                                        <li><a href="https://pixmap.io/" target="_blank">Pricemap index</a></li>
                                        <li><a href="https://pixmap.io/" target="_blank">Reportes</a></li>
                                        <li><a href="https://pixmap.io/" target="_blank">FAQs</a></li>
                                        <li><a href="{{url_for('logout')}}">Cerrar sesión</a></li>

                                        <!--
                                        <li><a href="#">Users</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Blog Details</a></li>
                                                <li><a href="elements.html">Element</a></li>
                                            </ul>
                                        </li> 
                                        -->

                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <div class="sidebar">

        <div id="myBtnContainer">
            <button class="btn active" onclick="filterSelection('Pack1')">PACK FIESTA</button>
            <button class="btn" onclick="filterSelection('Pack2')">PAQUETE PRUEBA</button>
        </div>
    </div>

    <main>
        <div class="grid-layout">
            {% for i in range(0, productos|length) %}
            <div class="filterDiv {{packs[i]}}">
                <object data="{{ productos[i] }}" width="500px" height="400px"></object>
                <div class="caja">
                    <h6>Productos:</h6>
                    <p>Los productos que han sido considerados para la construcción del pack son:</p>
                    <ul>
                    {%for producto in comentario[i]%}
                        <li>{{producto}}</li>
                    {%endfor%}
                    </ul>
                </div>
            </div>
            {%endfor%}
        </div>
    </main>

    <script>
        filterSelection("Pack1");
    </script>
    <!-- FALTA AGREGAR SCRIPT PARA BOTONES -->
</body>
</html>